.header{
    position:fixed;
    margin-top:0px;
    margin-left:0px;
    left:0px;
    top:0px;
    height:60px;
    padding:20px;
    width:100%;
    text-align:center;
    font-family:Roboto;
    font-weight:normal;
    font-size:60px;
    background:#86C8FD;
    color:#fff;
}
.homeTabs{
    position:fixed;
    background-color:#fff;
    margin-top:100px;
    margin-left:0px;
    left:0px;
    top:0px;
    width:100%;
    height:50px;
}

.homeTabs a{
    display:inline-block;
    border:1px solid #fff;
    background:#86C8FD;
    margin-left:1%;
    margin-top:7px;
    margin-bottom:7px;
    width:23%;
    padding:5px;
    text-align:center;
    font-family:Roboto;
    font-size:20px;
    text-decoration: none;
    color:#fff;
    -webkit-transition: opacity .3s linear;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.homeTabs a:hover{
    color:#86C8FD;
    background:#fff;
    border:1px solid #86C8FD;
    

}
* { 
    margin: 10;
    padding: 10;
  }
  footer, section, header, aside, figure {
    display: block;
  }
#todobox{
    position:fixed;
    background:#fff;
    width:380px;
    padding:10px;
    border-radius:5px;
    margin-top:130px;
    margin-left:-25px;
    height:430px;
    font-family:roboto;
    overflow:hidden;
}

  body {
    padding: 2em;
    font-size: 15px;
    font-family:Roboto;
      background:#eee;
  }
  form {
    width: 340px;
    background: #bfbfbf;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
      margin-left:20px;
      margin-top:-10px;
  }
  #newitem {
    width: 225px;
      margin-right:4px;
      font-family:roboto;
  }
  #todolist {
    width: 360px;
    margin-top:-10px;
      margin-bottom:20px;
      margin-left:5px;
      margin-right:5px;
    margin-left:-20px;
      border-radius:0px 0px 5px 5px;
  }
  #todolist li {
    border-radius: 2px;
    list-style: none;
    background: #eee;
    padding: 5px 10px;
    margin-bottom: 10px;
    position: relative;
  }
  #todolist li:nth-child(2n){
    background: #ccc;
  }
  #todolist li:hover:after,
  #todolist li.done:after {
    content: 'DONE';
    color: #060;
    position: absolute;
    right: 5px;    
  }
  #todolist li.done:hover:after {
    content: 'DELETE';
    font-weight: bold;
    color: #c00;
    position: absolute;
    right: 5px;    
  }
::-webkit-scrollbar-thumb{ 
background-color: #86C8FD;
border:1px solid #fff;
height:5px;
border-radius:5px;
}

::-webkit-scrollbar { 
height:5px;
width:7px; 
background-color: #fff;
border-left:1px solid #fff;
}

.title{
font-size:30px;
background:#86C8FD;
    color:#fff;
    position:relative;
    width:100%;
    margin-left:-10px;
    padding:10px;
    margin-top:-10px;
    z-index:9;
    border-radius:5px 5px 0px 0px;
    
}

.content{
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
    height:390px;
    width:400px;
    border-radius:0px 0px 5px 5px;
    margin-left:-10px;
}

#docbox{
position:fixed;
    margin-left:390px;
    margin-top:130px;
    background:#fff;
    width:600px;
    height:430px;
    padding:10px;
    border-radius:5px;
    overflow:hidden;
}

#doccontent{
    position:relative;
    margin-top:0px;
    padding:10px;
    padding-top:20px;
    height:365px;
    margin-left:-10px;
    width:100%;
    border-radius:5px;
}

#file-form{
    position:Relative;
width:580px;
    margin-left:0px;
}

.field{
    width:100%;
}

#content{
    width:100%;
}

textarea{
    width:100%;
    max-width:100%;
    max-height:200px;
    min-height:100px;
}

#files{
    height:110px;
    overflow-y:auto;
}

#chat{
    position:fixed;
    background:#86c8fd;
    width:250px;
    height:70px;
    margin-left:1025px;
    margin-top:130px;
    font-size:60px;
    padding:5px;
    text-align:center;
    border-radius:5px;
}

#chat a{
    text-decoration:none;
    color:#fff;
}