body {
    position:fixed !important;
    font-family:Roboto;
    width:100%;
    background-color:#eee;
    margin-top:0px;
    margin-left:0px;
}
.signupbutton{
    font-size: 40px;
}
a{
    text-decoration:none;
    color:#365065;
}
a:hover{
    color:#000000;
}
h1, h2, h3 {
    font-family:Roboto;
}
.header{
    position:fixed;
    margin-top:0px;
    height:60px;
    padding:20px;
    width:100%;
    text-align:center;
    font-family:Roboto;
    font-weight:normal;
    font-size:60px;
    background:#86C8FD;
    color:#fff;
}
.homeTabs{
    position:fixed;
    background-color:#fff;
    margin-top:100px;
    margin-left:0px;
    width:100%;
}

.homeTabs a{
    display:inline-block;
    border:1px solid #fff;
    background:#86C8FD;
    margin-left:1%;
    margin-top:7px;
    margin-bottom:7px;
    width:23%;
    padding:5px;
    text-align:center;
    font-family:Roboto;
    font-size:20px;
    text-decoration: none;
    color:#fff;
    -webkit-transition: opacity .3s linear;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.homeTabs a:hover{
    color:#86C8FD;
    background:#fff;
    border:1px solid #86C8FD;
}
